[user]
	email = me@hkjn.me
	name = Henrik Jonsson
	signingkey = 9A5FDC15
[push]
	default = current
[core]
	editor = emacsclient -t -a=\\\"\\\"
[credential]
	helper = cache --timeout=10800
[color]
	ui = true
